body {
    background: #D4D4D4;
}

/********** HOME **********/
blockquote {
    background: #EBE9E7;
    border-radius: 15px;
}

#headHome {
    position: absolute;
}

/********** FOOTER **********/
footer {
    background: #EBE9E7;
}

footer .reseauSocial {
    color: black;
}

#fb:hover {
    color: #4267B2;
}

#tw:hover {
    color: #1DA1F2;
}

#li:hover {
    color: #0077B5;
}

#go:hover {
    color: #DC4A38;
}

#nomCopyright {
    color: black;
    font-weight: bold;
}

#nomCopyright:hover {
    color: #33a816;
    font-size: 1.1em;
}