/* Pour éviter les superpositions */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #D4D4D4;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0 0 80px 0;
}

/********** ENTETE TOUS **********/
.headTitle {
    background: #007bff;
    color: white;
    height: 70px;
}

.headTitle2 {
    background: rgba(19,177,0,0.71);
    color: white;
    height: 70px;
}

/********** HOME **********/
blockquote {
    background: #EBE9E7;
    border-radius: 15px;
}

#headHome {
    position: absolute;
}

/********** MODAL CONNECTION **********/
.modalBack {
    color: white;
    background: #343A40;
    border-radius: 20px 20px 20px 20px;
}
.modalBack .active {
    color: white !important;
    padding: 10px 15px 10px 15px;
    /* 343A40 */
    background-color: #22282e !important;
}

.modalBack .close {
    color: red !important;
}

/********** ADMIN **********/
/* Switch button */
.btn-on.active {
    background-color: #5BB75B !important;
    color: white !important;
    border: 1px solid #5BB75B !important;
}
.btn-off.active{
    background-color: #DA4F49 !important;
    color: white !important;
    border: 1px solid #DA4F49 !important;
}

/********** FORMULAIRES **********/
.myForm {
    margin-bottom: 20px;
    background: rgba(0,123,255,0.3);
    border-radius: 20px 20px 20px 20px;
}
.input-group-text:hover {
    color: #000 !important;
    text-decoration: none;
}

/********** FOOTER **********/
footer {
    background: #EBE9E7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .reseauSocial {
    color: black;
}

#fb:hover {
    color: #4267B2;
}

#tw:hover {
    color: #1DA1F2;
}

#li:hover {
    color: #0077B5;
}

#go:hover {
    color: #DC4A38;
}

#nomCopyright {
    color: black;
    font-weight: bold;
}

#nomCopyright:hover {
    color: #33a816;
    font-size: 1.1em;
}