{% extends 'mails/layout.html.twig' %}

{% block content %}
    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
        <td style="background-color: #ffffff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="padding: 40px 40px 20px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                        <h1 style="margin: 0 0 10px; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;">{{ subject | raw }}</h1>
                        <h2>Bonjour {{ prenomNom }},</h2>
                        <p>
                            Vous ne retrouvez pas votre mot de passe pour accéder à votre compte ? Nous sommes là pour vous aider.
                        </p>
                        <p>
                            Souvenez-vous que vous pouvez vous connecter à la fois avec votre adresse mail
                            mais aussi avec votre pseudo : <strong>{{ pseudo }}</strong>
                        </p>
                        <p>
                            Cliquez sur ce bouton ci-dessous et vous pourrez réinitialiser votre mot de passe.
                        </p>

                        <p>Quelques conseils pour bien choisir votre nouveau mot de passe :</p>
                        <ul>
                            <li>Evitez les informations personnelles connues de vos proches</li>
                            <li>N'utilisez pas le même mot de passe que pour d'autres sites ou applications</li>
                            <li>
                                Si vous n'avez pas d'idée, vous pouvez utiliser le
                                <a href="https://www.cnil.fr/fr/generer-un-mot-de-passe-solide">
                                    générateur de mot de passe proposé par la CNIL
                                </a>
                            </li>
                        </ul>
                        <p>
                            Retenez-le sans avoir à l'écrire ou utilisez un gestionnaire de mots de passe !
                            N'oubliez pas qu'un mot de passe doit être modifié régulièrement.
                        </p>


                        <strong>Vous n'êtes pas à l'origine de cette demande ?</strong>
                        <p>
                            Il est peut-être possible qu'une personne ait accidentellement saisi votre e-mail, cela arrive parfois.
                            Nous vous conseillons tout de même de modifier votre mot de passe au cas où !
                        </p>
                        <p>En cas de questions, vous pouvez toujours <a href="http://blog.thibaut-tourte.com/contact">nous contacter</a> !</p>
                    </td>
                </tr>
                    <tr>
                        <td style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                            <!-- Button : BEGIN -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                <tr>
                                    <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                                        <a class="button-a button-a-primary" href="http://blog.thibaut-tourte.com/{{ link }}" style="background: #222222; border: 1px solid #000000; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; display: block; border-radius: 4px;">
                                            <span class="button-link" style="color:#ffffff">Réinitialiser mon mot de passe</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <!-- Button : END -->
                        </td>
                    </tr>
            </table>
        </td>
    </tr>
    <!-- 1 Column Text + Button : END -->
{% endblock %}