{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <section class="container text-center">
        <h1>/!\ 404 NOT FOUND /!\</h1>
        <strong>at {{ domain }}/{{ current_page }}</strong><br/><br/>
        <i>La page que vous demandez n'existe pas (ou plus) !</i><br/>
        <a href="#" class="js-goPageBefore"><< Revenir à la page précédente !</a><br/>
        <a href="{{ path }}"><< Revenir à l'accueil du blog !</a>
    </section>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block footer %}{% endblock %}