{% extends 'layout.html.twig' %}

{% block headHome %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    Page d'accueil par défaut !
{% endblock %}
