{% extends 'layout.html.twig' %}

{% block content %}
    <header class="container-fluid">
        <div class="row text-center headTitle">
            <div class="col-sm-12 align-self-center">
                <h3>Connexion</h3>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row justify-content-around">
            <div class="col-sm-5 myForm">
                <form class="needs-validation" method="post" novalidate>
                    <h4>S'inscrire</h4>

                </form>
            </div>
            <div class="col-sm-5 myForm">
                <form class="needs-validation" method="post" novalidate>
                    <h4>Se connecter</h4>

                </form>
            </div>
        </div>
    </section>
{% endblock %}
