{% extends 'layout.html.twig' %}

{% block title %}404{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <section class="container text-center">
        <h1>Réinitialiser son mot de passe</h1>
        <i>Vous avez oublié votre mot de passe ?</i><br/>
        <p>Renseigner votre adresse mail et nous vous enverrons la marche à suivre ! ;)</p>

        <form class="row justify-content-center needs-validation" method="post" action="{{ path }}login/reset-password" novalidate>
            <div class="input-group col-sm-6">
                <input type="email" class="form-control" placeholder="Votre email" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Envoyer</button>
                </div>
                <div class="invalid-feedback">
                    Veuillez entrer un format valide !
                </div>
            </div>
        </form>

        <br/>

        <a href="javascript:history.go(-1)"><< Revenir à la page précédente !</a><br/>
        <a href="{{ path }}"><< Revenir à l'accueil du blog !</a>
    </section>
{% endblock %}

{% block footer %}{% endblock %}